body{
background-image: url(salim.jpg);
display: flex;
justify-content: center;
align-items: center;
height: 100vh;

}
form{
    padding: 30px;
    border: 10px solid #080808;
    background-color: rgb(139, 186, 224);
    box-shadow: hsla(0, 3%, 81%, 0.329);
    border-radius: 60px;
    width: 300px;
    height: 200px;
}
h4{
   color: #030000;  
}
input[type="text"],
input[type="email"],
input[type="number"],
textarea{
    padding: 5px;
    border: 1px solid #393b3b;
    background-color:hwb(0 91% 7% / 0.836);
    margin-bottom: -10px;
    width: 100%;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-content: center;
}
input[type="button"]:hover{
    background-color: #094d1f; 
}
input{
    background-color: #77c792;
}